*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: auto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li{
    display: inline-block;
}
.authenticate{
    display: flex;
    align-items: center;
}
#btn-signin{
    padding: 12px 18px;
    color: red;
    border: 1px solid red;
    background-color: transparent;
}
#btn-signup{
    padding: 12px 18px;
    color: white;
    background-color: red;
    border: none;
}

@media (min-width:1024px){
    .container{
        width: 1000px;
        margin: auto;
    }
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    li{
        display: inline-block;
    }
    .authenticate{
        display: flex;
        align-items: center;
    }
}